body {
  width: 25%;
  height: auto;
  margin: 0 auto;
  margin-top: 80px;
  background: #e6e6ff;
  text-align: center;
  color: white;
}

h1 {
  font-family: 'Kotta One', serif;
  text-shadow: 2px 1px violet;
}

.ac {
  grid-area: ac;
}

.del {
  grid-area: del;
}

.division {
  grid-area: division;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.multiplication {
  grid-area: multiplication;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.addition {
  grid-area: addition;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.subtraction {
  grid-area: subtraction;
}

.dot {
  grid-area: dot;
}

.zero {
  grid-area: zero;
}

.equal {
  grid-area: equal;
}

.line {
  margin: 0 auto;
  border-bottom: 3px solid #00BFFF;
}

div {
  background: #008B8B;
  font-family: monospace;
  font-weight: normal;
  font-size: 15px;
  border-radius: 3px;
}

p {
  text-align: center;
  background:  #006666;
  padding: 12px;
  margin: 0 auto;
  margin-top:8px;
  margin-bottom:8px;
  border: 3px solid hsl(180, 100%, 15%, 0.3);
  font-size: 25px;
  width: 93%;
  height: 30px;
  border-radius: 3px;
}

.container {
  margin: 0 auto;
  padding: 2px;
  border-radius:2px;
  display: grid;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  grid-template-areas:
  "ac ac del division"
  "one two three multiplication"
  "four five six addition"
  "seven eight nine subtraction"
  "dot zero equal equal";

}

.container div {
  background: #00BFFF;
  padding: 35px;
  height: auto;
}

.calculator {
  margin: 0 auto;
  padding: 8px;
  height: auto;
  border-radius: 10px;
  -webkit-box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.5);
-moz-box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.5);
box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.5);

}
